<div id="form-position">
	<%= form_for @product, html: { multipart: true } do |f| %>

		<% if @product.errors.any? %>
			<div>
				<%= pluralize(@product.errors.count, "error") %> prevented this product from being submitted:
				<ul>
					<% @product.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="product-form-div">
			<h2 class="product-form-title">Add a Product</h2>
			<%= f.label :brand, "Brand:", class: "product-label" %><br>
			<%= f.text_field :brand %>
		</div>
		<div class="product-form-div">
			<%= f.label :name, "Name:", class: "product-label" %><br>
			<%= f.text_field :name %>
		</div>
		<div class="product-form-div">
			<%= f.label :price, "Price:", class: "product-label" %><br>
			<%= f.text_field :price %>
		</div>
		<div class="product-form-div">
			<%= f.label :sku, "SKU:", class: "product-label" %><br>
			<%= f.text_field :sku %>
		</div>
		<div class="product-form-div">
			<%= f.label :description, "Description:", class: "product-label" %><br>
			<%= f.text_area :description, rows: 5 %>
		</div>
		<div class="product-form-div">
			<span>
				<%= f.label :images, "Add Images", class: "paperclip-label" %>
			</span>
			<span id="file-field-info">
			</span>
			<%= file_field_tag "images[]", type: :file, multiple: true, class: "inputfile", id: "product_images", 'data-multiple-caption': "{count} files selected" %>
		</div>
		<div>
			<%= f.submit "Submit", id: "product-submit" %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){
		var $input = $( '.inputfile' ),
		$label = $( '.paperclip-label' ),
		labelVal = $label.html();

		$input.on( 'change', function( e ){
			var fileName = '';

			if( $input[0].files && $input[0].files.length > 1 )
				fileName = fileName + $input[0].files.length + " Images Selected";
			else if( e.target.value )
					fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
					$label.html( fileName );
			else
					$label.html( labelVal );
		});
	});
</script>
